$primaryColor: #254260;
$secondaryColor: #FAFAFA;
$thirdColor: #000000;


nav#mainNav{
  border-radius: 0px;
  background-color: $primaryColor;
  a.navbar-brand{
    color: $secondaryColor;
  }
  li{
    a{
      color: $secondaryColor;
    }
  }
}
.jumbotron{
  background-color: $secondaryColor;
  color: $primaryColor;
  a.btn{
    background-color: $primaryColor;
    color: $secondaryColor
  }
}

.label-primary, .btn-primary{
  background-color: $primaryColor!important;
  color: $secondaryColor!important;
  border-color: $secondaryColor!important;
}

.navbar-toggler{
  color:$secondaryColor;
  border-color: $secondaryColor;
}
