$primaryColor: #610009;
$secondaryColor: #FAFAFA;
$thirdColor: #70AE25;


nav#mainNav{
  border-radius: 0px;
  background-color: $primaryColor;
  a.navbar-brand{
    color: $secondaryColor;
  }
  li{
    a{
      color: $secondaryColor;
    }
  }
}
.jumbotron{
  background-color: $secondaryColor;
  color: $primaryColor;
  a.btn{
    background-color: $primaryColor;
    color: $secondaryColor
  }
}