<h1>Contact us</h1>
<form>
    <fieldset class="form-group row">
        <label for="formGroupExampleInput" class="col-sm-1">Email</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
    </fieldset>
    <fieldset class="form-group row">
        <label for="exampleTextarea" class="col-sm-1">Message</label>
        <div class="col-sm-4">
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
    </fieldset>
    <div class="col-sm-5">
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </div>
</form>