<h1>Contact us</h1>
<form novalidate [ng-form-model]="login" (submit)="sendMessage(contact.value)">
    <fieldset class="form-group row">
        <label for="formGroupExampleInput" class="col-sm-1">Email</label>
        <div class="col-sm-4">
            <input [ng-form-control]="contact.controls['email']" type="email" class="form-control" id="formGroupExampleInput" placeholder="Your email address">
        </div>
    </fieldset>
    <fieldset class="form-group row">
        <label for="exampleTextarea" class="col-sm-1">Message</label>
        <div class="col-sm-4">
            <textarea [ng-form-control]="contact.controls['message']" class="form-control" id="exampleTextarea" rows="3" placeholder="Your message"></textarea>
        </div>
    </fieldset>
    <div class="col-sm-5">
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </div>
</form>