<div class="jumbotron">
    <h1>{{organisation}}</h1>
    <p class="lead">We're a premium esport organisation. Play for the fun....to win.</p>
    <hr class="m-y-md">
    <p>We're always happy to speak with new talents. If you feel like you can bring something to the organisation, hit the button!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">I want to try</a>
    </p>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <div class="card">
            <img class="card-img-top" data-src="holder.js/100%x180/?text=Image cap" alt="Card image cap">
            <div class="card card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
        <div class="card">
            <img class="card-img-top" data-src="holder.js/100%x180/?text=Image cap" alt="Card image cap">
            <div class="card card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>