<div class="jumbotron">
    <h1>{{organisation}}</h1>
    <p class="lead">We're a premium esport organisation. Play for the fun....to win.</p>
    <hr class="m-y-md">
    <p>We're always happy to speak with new talents. If you feel like you can bring something to the organisation, hit the button!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">I want to try</a>
    </p>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/583x300" alt="Card image cap">
            <div class="card card-block">
                <h3 class="card-title">Clas-1</h3>
                <a [router-link]="['/Team', {id: 1}]" class="btn btn-primary">See players</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/583x300" alt="Card image cap">
            <div class="card card-block">
                <h3 class="card-title">Clas-2</h3>
                <a [router-link]="['/Team', {id: 2}]" class="btn btn-primary">See players</a>
            </div>
        </div>
    </div>
</div>