<div class="m-t-md">
    <div class="col-sm-12 col-md-4 col-md-offset-1">
        <div class="card">
            <img class="card-img-top img-responsive img-rounded center-block" src="http://placehold.it/583x300" alt="Card image cap">
            <div class="card card-block">
                <h3 class="card-title">Critical Assets</h3>
                <a [router-link]="['/Team', {id: 1}]" class="btn btn-primary">See players</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-md-offset-2">
        <div class="card">
            <img class="card-img-top img-responsive img-rounded center-block" src="http://placehold.it/583x300" alt="Card image cap">
            <div class="card card-block">
                <h3 class="card-title">Critical Element</h3>
                <a [router-link]="['/Team', {id: 2}]" class="btn btn-primary">See players</a>
            </div>
        </div>
    </div>
</div>